
.carres{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.carre{
    width: 200px;
    height: 200px;
    background-color: #8dae87;

}